body {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    line-height: 35px;
    padding-bottom: 25px;
    color: aquamarine;
    text-align: center;
}

h3,
h5,
nav,
p,
ul {
    font-family: 'Arimo', sans-serif;
}

h1,
nav {
    text-align: center;
}

nav {
    letter-spacing: 2px;
}

h3,
.top-nav a {
    font-weight: 700;
}

p,
ul,
.social-nav a {
    font-weight: 400;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px 0px 10px 0px;
}

.top-nav a,
.social-nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.top-nav a:hover,
.social-nav a:hover {
    color: aquamarine;
}

.top-nav a {
    font-size: 16px;
}

.social-nav a {
    font-size: 14px;
}

p,
ul {
    font-size: 14px;
    line-height: 18px;
}

#about-me-container {
    height: 200px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: aquamarine;
}

#about-me {
    width: 540px;
    height: 180px;
    padding-top: 60px;
}

#profile-pic {
    float: right;
    padding: 20px 0px;
}

#active-page {
    color: aquamarine;
}

.portfolio-image {
    width: 400px;
    padding-bottom: 10px;
}